<div class="wrapper-user">
  <div class="side-bar">
    <div class="side-header">
      <div class="mypage-title">
        マイページ
      </div>
      <div class="account">
        <div class="user-name">
          <%= @user.nickname%>
        </div>
      </div>
    </div>
    <div class="profile">
      <div class="profile-container">
        <div class="profile-title">
          名前...
        </div>
        <div class="profile-content">
          <%= @user.family_name%><%= @user.given_name%>
        </div>
      </div>
      <div class="profile-container">
        <div class="profile-title">
          生年月日...
        </div>
        <div class="profile-content">
          <%= @user.birthday.strftime("%Y年%m月%d日")%>  (<%= @birthday %>歳)
        </div>
      </div>
      <div class="profile-container">
        <div class="profile-title">
          部署・所属...
        </div>
        <div class="profile-content">
          <%= @user.duty_station%>
        </div>
      </div>
      <div class="back left">
        <%= link_to '←戻る', :back , class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="plan-left">
      <div class="plan-list">
        予定リスト
      </div>
    </div>
  <table class="table">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>部署・所属</th>
      <th>予定</th>
      <th>開始時間</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each_with_index do |event,n|%>
        <tr>
          <th scope="row"><%= n + 1 %></th>
          <td id="department-name-js"><%= event.department.name%></td>
          <td><%= event.title%></td>
          <td><%= event.start_time.strftime("%Y年%m月%d日 %H:%M")%></td>
        </tr>
    <% end%>
  </tbody>
</table>
  </div>
</div>