<div class="calendar">
  <%= week_calendar events: @events, previous_link: events_ajax_previous_link, next_link: events_ajax_next_link do |date, events| %>
    <%= date.day %>
    <% events.each do |event| %>
      <div class="event-display">
        <span class="over-text showTooltip2-<%= event.id %>">
          <%=link_to event.title, department_event_path(@department,event), class:"event-title",  title: "ツールチップ"%>
        </span>
        <span><%= event.start_time.strftime("%H:%M")%></span>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  $.each(gon.event, function(index,value) {
    var startTime = new Date(value.start_time)
    var endTime = new Date(value.end_time)
    var tooltipHtml = `
    <div>
      <div style="margin: 10px;">
        <div>
        予定者：${value.user.nickname}<br>
          予定：${value.title}<br>
          開始：${moment(startTime).format('YYYY-MM-DD HH:mm')}<br>
          終了：${moment(endTime).format('YYYY-MM-DD HH:mm')}<br>
        </div>
      </div>
    </div>`; 

    // 吹き出し出力
      $(".showTooltip2-" + value.id).tooltip({
          content: tooltipHtml,
          position:{
            my:"left+30 top",
            at:"right top",
          }
      }) 
  });
</script>